@import '~constants'

Nav.Pagination
  &
    display flex
    justify-content center
    align-items center
    margin 1.5rem 0
    height 3rem
    color n80
  button
    &
      width 1rem
      height 100%
    &::before
      transition()
    &:enabled::before
      opacity .75
    &:enabled:hover::before
      color b50
      opacity 1
    &:disabled
      cursor not-allowed
      opacity .5
  .backward
    order 1
    textless-icon($backward)
    margin-right 1rem
  span
    order 2
  .current
    color b40
    font-weight 600
  .out-of
    margin 0 .5em
  .forward
    order 3
    margin-left 1rem
    textless-icon($forward)
