@import '~constants'

Article.Card
  &
    margin-bottom 1rem
    padding 1em
    font-size .875rem
    border 1px solid n10
    border-radius 4px
    box-shadow 0 0 3px 0 n10
    transition()
  &:not(.is-placeholder):hover
    border-color o20
  &.is-placeholder
    min-height 8rem
