@import '~constants'

.NotFound
  &
    margin 5rem auto
    width fit-content
    height 30rem
    text-align center
    color n50
  h1
    font-weight 300
    line-height 1.5
    text-align center
    border-bottom 1px solid n20
    color n40
